
@{
    ViewBag.Title = "Admin Page";
}

<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="../Home/Index">Home</a>
                    <i>|</i>
                </li>
                <li>Admin</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>dmin
        </h3>
        <!-- //tittle heading -->
        @if (ViewBag.listOrder != null)
        {

            <div class="checkout-right">
                <h4 class="mb-sm-4 mb-3">
                    Đơn đặt hàng của bạn gồm có:
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Đã thanh toán</th>
                                <th>Tình trạng giao hàng</th>
                                <th>Ngày đặt</th>

                                <th>Ngày giao</th>
                                <th>Mã Kh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.listOrder)
                            {
                                <tr class="rem1">

                                    <td class="invert-image">
                                        @item.MaDonHang
                                    </td>
                                    <td class="invert">
                                        @item.Dathanhtoan
                                    </td>
                                    <td class="invert">@item.Tinhtranggiaohang</td>
                                    <td class="invert">@item.Ngaydat</td>

                                    <td class="invert">
                                        @item.Ngaygiao
                                    </td>
                                    <td class="invert">
                                        @item.MaKH
                                    </td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    @*<h4 class="mb-sm-4 mb-3">Add a new Details</h4>*@
                    @*<form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Landmark" name="landmark" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" placeholder="Town/City" name="city" required="">
                                    </div>
                                    <div class="controls form-group">
                                        <select class="option-w3ls">
                                            <option>Select Address type</option>
                                            <option>Office</option>
                                            <option>Home</option>
                                            <option>Commercial</option>

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out btn">Delivery to this Address</button>
                            </div>
                        </div>
                    </form>*@

                </div>
            </div>
        }
        @if (ViewBag.detailOrder != null)
        {

            <div class="checkout-right">
                <h4 class="mb-sm-4 mb-3">
                    Chi tiết các đơn hàng của bạn:
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Mã sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.detailOrder)
                            {
                                <tr class="rem1">

                                    <td class="invert-image">
                                        @item.MaDonHang
                                    </td>
                                    <td class="invert">
                                        @item.MaSanPham
                                    </td>
                                    <td class="invert">@item.Soluong</td>
                                    <td class="invert">@item.Dongia</td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    @*<h4 class="mb-sm-4 mb-3">Add a new Details</h4>*@
                    @*<form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Landmark" name="landmark" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" placeholder="Town/City" name="city" required="">
                                    </div>
                                    <div class="controls form-group">
                                        <select class="option-w3ls">
                                            <option>Select Address type</option>
                                            <option>Office</option>
                                            <option>Home</option>
                                            <option>Commercial</option>

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out btn">Delivery to this Address</button>
                            </div>
                        </div>
                    </form>*@

                </div>
            </div>
        }
        @if (ViewBag.khachHang != null)
        {

            <div class="checkout-right">
                <h4 class="mb-sm-4 mb-3">
                    Chi tiết thông tin khách hàng của bạn:
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Mã khách hàng</th>
                                <th>Họ tên</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.khachHang)
                            {
                                <tr class="rem1">

                                    <td class="invert-image">
                                        @item.MaKH
                                    </td>
                                    <td class="invert">
                                        @item.HoTen
                                    </td>
                                    <td class="invert">@item.DiaChi</td>
                                    <td class="invert">@item.DienThoai</td>
                                    <td class="invert">@item.Email</td>
                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    @*<h4 class="mb-sm-4 mb-3">Add a new Details</h4>*@
                    @*<form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Landmark" name="landmark" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" placeholder="Town/City" name="city" required="">
                                    </div>
                                    <div class="controls form-group">
                                        <select class="option-w3ls">
                                            <option>Select Address type</option>
                                            <option>Office</option>
                                            <option>Home</option>
                                            <option>Commercial</option>

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out btn">Delivery to this Address</button>
                            </div>
                        </div>
                    </form>*@

                </div>
            </div>
        }
        @if (ViewBag.sanpham != null)
        {

            <div class="checkout-right">
                <h4 class="mb-sm-4 mb-3">
                    Chi tiết các sản phẩm của bạn:
                </h4>
                <div class="table-responsive">
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Gía bán</th>
                                <th>Số lượng tồn</th>
                                <th>Khuyến mãi</th>
                                <th>Gía Khuyến mãi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.sanpham)
                            {
                            <tr class="rem1">

                                <td class="invert">
                                    @item.MaSanPham
                                </td>
                                <td class="invert">@item.TenSanPham</td>
                                <td class="invert">@String.Format("{0:#,,.##} Triệu", item.Giaban) đ</td>
                                <td class="invert">@item.Soluongton</td>
                                <td class="invert">@item.Khuyenmai<a>%</a></td>
                                <td class="invert">@String.Format("{0:#,,.##} Triệu", item.GiaKhuyenmai) đ</td>
                            </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="checkout-left">
                <div class="address_form_agile mt-sm-5 mt-4">
                    @*<h4 class="mb-sm-4 mb-3">Add a new Details</h4>*@
                    @*<form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
                        <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                            <div class="information-wrapper">
                                <div class="first-row">
                                    <div class="controls form-group">
                                        <input class="billing-address-name form-control" type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="w3_agileits_card_number_grids">
                                        <div class="w3_agileits_card_number_grid_left form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Mobile Number" name="number" required="">
                                            </div>
                                        </div>
                                        <div class="w3_agileits_card_number_grid_right form-group">
                                            <div class="controls">
                                                <input type="text" class="form-control" placeholder="Landmark" name="landmark" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="controls form-group">
                                        <input type="text" class="form-control" placeholder="Town/City" name="city" required="">
                                    </div>
                                    <div class="controls form-group">
                                        <select class="option-w3ls">
                                            <option>Select Address type</option>
                                            <option>Office</option>
                                            <option>Home</option>
                                            <option>Commercial</option>

                                        </select>
                                    </div>
                                </div>
                                <button class="submit check_out btn">Delivery to this Address</button>
                            </div>
                        </div>
                    </form>*@

                </div>
            </div>
        }
    </div>
</div>
<!-- //checkout page -->
